.body {
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 50px;
}

.input {
   font-size: 48px;
   width: 100%;
   text-align: center;
}

.title {
  text-align: center;
  font-size: 48px;
}

#res {
  font-size: 48px;
  text-align: center;
}

.container {
  padding-bottom: 50px;
  margin-top: 50px;
}

#req {
  color:red
}

#TOU {
  font-size: 10px;
}

#smth {
  margin-bottom: 50px;
}

#s-up {
  float: right;
}

input {
  border-color: blue;
}

.vs {
    text-align: center;
    color: dimgrey;
}
